body{
    background-color: lavender;
}
.box{
    width: 280px;
    height: 200px;
    padding: 20px;
    border: 5px solid blue;
    margin: 10px;
    background-color: antiquewhite;
}
.float-container{
    width: 100%;
    overflow: auto;
}
.float-box{
    width: 150px;
    height: 100px;
    background-color: bisque;
    border: 2px solid black;
    float: left;
    margin: 10px;
}
img{
    width: 150px;
    height: 100px;
}